
html {  background-color: #132A4D;   }

body 
{
	color: #132A4D;
    font-family: "Gotham",Helvetica,Arial,sans-serif;
  	max-width: 800px;
  	margin: 0 auto;
  	background: white;
  	padding: 20px;
}  


.container
{
	background:white;
	min-height:100%;
    position:relative;
    padding-bottom:50px;   /* Hauteur du pied de page */	
}

.normal
{
	color: #132A4D;
    font-family: "Gotham",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    font-style: normal;    
}

.description
{
	color: #132A4D;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;        
}

.code
{
	color: red;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-style:italic;
    font-weight: 800;
    line-height: 1.5;
}

.footer
{
   position:absolute;
   bottom:0;  /* on le colle en bas */
   width:100%;
   height:50px; 
}

table 
{
  margin: 0 auto;
  padding: 0;
  border: 0;
  table-layout: fixed;
  width: 100%; /* must have this set */
  text-align: justify;
  background: white;
 
}

td, th {  border: 0px }

td:nth-child(1) { width: 75%;   padding: 10px 20px 10px 20px;  }

td:nth-child(2) { width: 25%;   padding: 10px 20px 10px 20px;  }


h1{
    color: #294671;
    font-weight: 400;
    line-height: 1.0;
    margin-top: 1.3em;    
}

h2{
    color: #294671;
  	font-size: 24px;  
    font-weight: 400;
    line-height: 1.0;
}

p{ line-height: 200%;}

.separator 
{
	width:100%;
	height:40px;
 	border-width:1px 0px 1px 0px;
 	border-style:solid;
 	border-color:#F9700B;
 	padding:0px;	
 	vertical-align:middle;
/* 	text-align:center;*/
 	margin-top:40px;
 	margin-bottom:80px
 }


ul { 
	width:100%;
	height:40px;	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF;
}

li {
  float: left;
	width:50%;
	height:40px;		  
}

li a {
  display: block;
  color: #57778F;
  text-align: center;
  padding: 10px 10px;
  font-weight:bold;
  font-style:italic;
  text-decoration:none    
}

li a:hover:not(.active) 
{
  font-weight:bold;
  font-style:italic;
  color: #0065B2;
  background-color: #FFF;
  text-decoration:none
}
